<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="website icon" type="png" href="" />
    <link rel="stylesheet" href="/css/all.min.css" />
    <link rel="stylesheet" href="/css/framework.css" />
    <link rel="stylesheet" href="/css/course-lessons.css" />
    <link rel="stylesheet" href="/css/progress.css" />
    <link rel="stylesheet" href="/css/master.css" />
    <link
      href="https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;500;600;700;800&display=swap"
      rel="stylesheet"
    />
    <title>Course Lessons</title>
  </head>

  <body>
    <!-- ///////////////////// Script in the Header Components ////////////////////////// -->
    <div class="scroller"></div>
    <!-- /////////////////////////////////////////////// -->
    <%- include('./components/header.ejs', { avatarUrl: user.avatarUrl,
    currentPage: "courses" }) %>

    <div class="container-course">
      <div class="course-description">
        <div class="title">
          <div class="icon">
            <i class="fa-solid fa-hands"></i>
            <h2 id="course-name"><%= course.name %></h2>
          </div>
          <p style="margin-bottom: 0">
            You will learn sign language and practice it well.
          </p>
          <div>
            <div class="time">
              <i class="fa-regular fa-clock"></i>
              <p id="durationCourse"><%= course.duration %></p>
            </div>
            <div class="limit">
              <div class="rate">
                <span class="one"></span>
                <span class="two"></span>
                <span class="three"></span>
              </div>
              <p style="color: var(--main-color)">Intermediate</p>
            </div>
          </div>
        </div>
        <div class="learn">
          <h2>What did you learn</h2>
          <div class="complete">
            <i class="fa-solid fa-check"></i>
            <p>You will learn sign language.</p>
          </div>
          <div class="complete">
            <i class="fa-solid fa-check"></i>
            <p>Learn to interact with people who are deaf.</p>
          </div>
        </div>
      </div>
      <div class="course-body">
        <div class="logo">
          <i class="fa-regular fa-file-video"></i>
          <h2>Course content</h2>
        </div>
        <div class="course-content" id="course-content">
          <% course.listvideoUrl.forEach((videoUrl, index) => { %>
          <div class="box" onclick="openLessonVideo('<%= videoUrl %>','<%= courseId %>')">
            <i class="fa-solid fa-circle-play"></i>
            <p class="lesson">
              <%= index + 1 %>. <%= course.Lessondescription[index] %>
            </p>
            <div class="progress-courses p-relative">
              <% const videoProgress = progress.find(p => p.videoUrl ===
              videoUrl); const progressValue = videoProgress ?
              videoProgress.progress : 0; %>
              <span class="blue" style="width: <%= progressValue %>%">
                <span class="bg-blue"><%= progressValue %>%</span>
              </span>
            </div>
          </div>
          <% }); %>
        </div>
      </div>
    </div>
    <div class="video-display" id="video-display">
      <div class="content">
        <video
          src=""
          id="video"
          class="screen"
          poster="/images/poster.png"
        ></video>
        <div class="controls">
          <button class="btn" id="play">
            <i class="fa-solid fa-play fa-2x"></i>
          </button>
          <button class="btn" id="stop">
            <i class="fa-solid fa-stop fa-2x"></i>
          </button>
          <input
            type="range"
            id="progress"
            class="progress"
            min="0"
            max="100"
            step="0.1"
            value="0"
          />
          <span class="timestamp" id="timestamp">00:00</span>
          <span class="separator"> / </span>
          <span class="video-duration" id="video-duration">00:00</span>
          <button class="btn volume" id="volume">
            <i class="fa-solid fa-volume-high"></i>
            <input type="range" min="0" max="1" step="0.1" />
          </button>
          <button class="btn full" id="full">
            <i class="fa-solid fa-expand"></i>
          </button>
        </div>
      </div>
    </div>

    <%- include('./components/footer.ejs') %>
    <script src="/js/courses-lessons.js"></script>
    <script src="/js/lang.js"></script>
  </body>
</html>
