<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="website icon" type="png" href="" />
    <!-- Font Awesome -->
    <link rel="stylesheet" href="/css/all.min.css" />
    <link rel="stylesheet" href="/css/framework.css" />
    <link rel="stylesheet" href="/css/master.css" />
    <link rel="stylesheet" href="/css/courses.css" />
    <link rel="stylesheet" href="/css/chatbot.css" />
    <!-- Google Fonts -->
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;500;600;700;800&display=swap"
      rel="stylesheet"
    />
    <style>
      #span_lesson {
        position: relative;
        padding: 0;
        border-radius: 0;
        margin: 0;
      }
    </style>
    <title data-i18n="Courses">Courses</title>
  </head>
  <body>
    <!-- ///////////////////// Script in the Header Components ////////////////////////// -->
    <div class="scroller"></div>
    <!-- /////////////////////////////////////////////// -->
    <!-- Start header -->
    <%- include('./components/header.ejs', {avatarUrl:
    user.avatarUrl,currentPage: "courses"}) %>
    <!-- End Header -->
    <!-- Start COURSES -->
    <section>
      <div class="slider-body">
        <div class="slider-container">
          <div class="left-slide">
            <div style="background-color: #2a86ba">
              <h1 data-i18n="INTERACTIVE_EXERCISES">
                Interactive Exercises and Quizzes
              </h1>
              <p data-i18n="INTERACTIVE_EXERCISES_DESC">
                Designed to test your knowledge and reinforce your skills.
              </p>
            </div>
            <div style="background-color: #252e33">
              <h1 data-i18n="SIGN_LANGUAGE_COURSES">Sign Language Courses</h1>
              <p data-i18n="SIGN_LANGUAGE_COURSES_DESC">
                We offer comprehensive sign language courses in Arabic, designed
                for both adults and children.
              </p>
            </div>
            <div style="background-color: var(--main-color)">
              <h1 data-i18n="SIGN_LANGUAGE_EDUCATION">
                Sign Language Education
              </h1>
              <p data-i18n="SIGN_LANGUAGE_EDUCATION_DESC">
                Our mission is to offer comprehensive sign language education
                for all levels.
              </p>
            </div>
          </div>
          <div class="right-slide">
            <div
              style="
                background-image: url('https://images.unsplash.com/photo-1532012197267-da84d127e765?q=80&w=1887&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D');
              "
            ></div>
            <div
              style="
                background-image: url('https://images.unsplash.com/photo-1532618500676-2e0cbf7ba8b8?q=80&w=2020&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D');
              "
            ></div>
            <div
              style="
                background-image: url('https://images.unsplash.com/photo-1539628399213-d6aa89c93074?q=80&w=2070&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D');
              "
            ></div>
          </div>
          <div class="action-buttons">
            <button class="down-button BTN">
              <i class="fas fa-arrow-down"></i>
            </button>
            <button class="up-button BTN">
              <i class="fas fa-arrow-up"></i>
            </button>
          </div>
        </div>
      </div>
      <!-- <div class="bottom-left-image">
        <img src="images/adult-bottom.png" alt="Bottom Left Image" />
      </div> -->
      <div class="articles" id="articles">
        <h2 class="main-title">Course Categories</h2>
        <div class="container">
          <div class="box">
            <img src="/images/Women_hand.jpg" alt="" />
            <div class="content">
              <h3 data-i18n="AGES_15">Ages 15+</h3>
              <p data-i18n="ADULT_ARSL_COURSES">Adult Sign Language (ArSL) Courses</p>
            </div>
            <div class="info">
              <a onclick="scrollToElement('adultCourses')" data-i18n="READ_MORE">Read More</a>
              <i class="fas fa-long-arrow-alt-right"></i>
            </div>
          </div>
          <div class="box">
            <img src="/images/الاهتمام.jpeg" alt="" />
            <div class="content">
              <h3 data-i18n="KIDS">Kids</h3>
              <p data-i18n="ARSL_COURSES_FOR_KIDS">Kids Sign Language (ArSL) Courses</p>
            </div>
            <div class="info">
              <a onclick="scrollToElement('kidsCourses')" data-i18n="READ_MORE">Read More</a>
              <i class="fas fa-long-arrow-alt-right"></i>
            </div>
          </div>
        </div>
      </div>
      <!-- /////////////////////////////////////// -->
      <!-- <div class="categories">
        <div class="categories-info">
          <h2 data-i18n="COURSE_CATEGORIES" class="rectangular-animation">
            Course Categories
          </h2>
          <p data-i18n="WE_VE_GOT_COURSES_FOR_EVERYONE">
            We've got courses for everyone!
          </p>
        </div>
        <div class="categories-content">
          <div
            class="adult-categories"
            onclick="scrollToElement('adultCourses')"
          >
            <img
              src="/images/adult-categories.png"
              alt="Adult Arabic Sign Language (ArSL) Courses"
            />
            <p data-i18n="AGES_15">Ages 15+</p>
          </div>
          <div class="kids-categories" onclick="scrollToElement('kidsCourses')">
            <img
              src="/images/kids-categories.png"
              alt="Kids Arabic Sign Language (ArSL) Courses"
            />
            <p data-i18n="KIDS">Kids</p>
          </div>
        </div>
      </div> -->
      <div class="courses">
        <div class="head-courses">
          <h3
            data-i18n="arsl_head"
            class="rectangular-animation2"
            id="arsl-head"
          >
            ArSL Courses
          </h3>
        </div>
        <div class="subscribe">
          <form action="">
            <input
              type="text"
              id="myInput"
              onkeyup="search()"
              placeholder="Search for Courses.."
            />
            <input type="submit" value="Search" />
          </form>
        </div>

        <!-- ///////////////////////////// -->
        <!-- <input
          type="text"
          id="myInput"
          onkeyup="search()"
          placeholder="Search for Courses.."
        /> -->
        <div class="div-courses" id="adultCourses">
          <div class="adult-info-content">
            <h4 data-i18n="ADULT_ARSL_COURSES">Adult ArSL Courses</h4>
            <p data-i18n="ADULT_COURSES_DESCRIPTION">
              Embrace the beauty of Arabic Sign Language (ArSL) with our
              individual Online Arabic Sign Language Courses. Whether you're a
              beginner or looking to enhance your skills, each course offers a
              comprehensive and interactive journey led by experienced Arabic
              Sign Language instructors. Dive into a world of expressive
              gestures, vibrant culture, and meaningful communication, as you
              learn to converse fluently in Arabic Sign Language (ArSL), one
              course at a time. Start your signing adventure today!
            </p>
            <div id="adult-courses-videos" class="div-courses-videos">
              <% courses.forEach(course => { %> <% if (course.categories ===
              'adult' || course.categories ==='بالغ') { %>
              <a
                href="/courses/course_info?course=<%= course.id %>"
                class="course"
              >
                <div class="course-content">
                  <div class="course-img">
                    <img src="<%= course.imageUrl %>" alt="course img" />
                    <span
                      ><%= course.lesson %>
                      <span id="span_lesson" data-i18n="LESSONS_COURSES"
                        >Lessons
                      </span>
                    </span>
                  </div>
                  <div class="course-info">
                    <h4><%= course.name %></h4>
                    <p><%= course.description %></p>
                  </div>
                </div>
              </a>
              <% } %> <% }); %>
            </div>
          </div>
        </div>

        <div class="div-courses" id="kidsCourses">
          <div class="kids-info-content">
            <h4 data-i18n="ARSL_COURSES_FOR_KIDS">Kids ArSL Courses</h4>
            <p data-i18n="KIDS_COURSES_DESCRIPTION">
              Discover the joy of learning Arabic Sign Language (ArSL) with our
              engaging Online Arabic Sign Language Courses for kids. Specially
              designed to captivate young minds, each course provides a fun and
              interactive experience led by skilled Arabic Sign Language
              instructors. Watch as your child explores a new world of
              communication, expression, and culture, mastering the art of
              signing in Arabic Sign Language (ArSL) with enthusiasm and ease.
              Start their signing journey today!
            </p>
            <div id="kids-courses-videos" class="div-courses-videos">
              <% courses.forEach(course => { %> <% if (course.categories ===
              'kids' || course.categories ==='اطفال') { %>
              <a
                href="/courses/course_info?course=<%= course.id %>"
                class="course"
              >
                <div class="course-content">
                  <div class="course-img">
                    <img src="<%= course.imageUrl %>" alt="course img" />
                    <span
                      ><%= course.lesson %>
                      <span id="span_lesson" data-i18n="LESSONS_COURSES"
                        >Lessons</span
                      >
                    </span>
                  </div>
                  <div class="course-info">
                    <h4><%= course.name %></h4>
                    <p><%= course.description %></p>
                  </div>
                </div>
              </a>
              <% } %> <% }); %>
            </div>
          </div>
        </div>
      </div>
    </section>
    <!-- End COURSES -->

    <div class="chatbot-ready" id="chat-ready">
      <div class="chatbot-close" id="close">
        <button>
          <span id="close_mess" data-i18n="Close">Close</span>
          <i class="fa-solid fa-xmark"></i>
        </button>
      </div>
      <div class="chatbot-message" id="chatbot-message">
        <p class="one" id="help" data-i18n="HELP_SUPPORT">Help & Support</p>
        <p class="two" id="hello_service">
          <span id="hello1" data-i18n="HELLO_MESSAGE_1">Hello</span>, <br />
          <span id="hello2" data-i18n="HELLO_MESSAGE_2"
            >We're at your service, click here to start the conversation now!
          </span>
        </p>
      </div>
      <div class="chatbot-img" id="chatbot-img">
        <img src="images/chatbot.png" alt="chatbot" />
      </div>
    </div>
    <div class="chatbot-start dis" id="chat-start">
      <div class="chat">
        <h4 id="chat_robo" data-i18n="CHAT_WITH_ROBO">Chat With Robo</h4>
        <i id="close-chat" class="fa-solid fa-xmark fa-lg"></i>
      </div>
      <div class="messages">
        <div class="new-message" onclick="scrollToBottom()">
          <i class="fa-solid fa-chevron-down"></i>
          <p id="new_mess" data-i18n="NEW_MESSAGE">New Message</p>
        </div>
        <div class="message">
          <img src="images/chatbot.png" alt="chatbot" />
          <p id="greetings" data-i18n="ROBO_GREETINGS">
            Greetings. I am Robo, your dedicated personal assistant, ready and
            at your service to provide insightful answers to any inquiries you
            may have.
          </p>
        </div>
        <div class="message">
          <p id="assist" data-i18n="HOW_CAN_I_ASSIST">
            How may I assist you today? Kindly choose from the following options
            to guide me in providing the support you require:
          </p>
        </div>
        <div class="options">
          <button
            id="one"
            onclick="chooseButton('one')"
            data-i18n="CHOOSE_BUTTON_ERROR"
          >
            Error in sign language App
          </button>
          <button
            id="two"
            onclick="chooseButton('two')"
            data-i18n="CHOOSE_BUTTON_ACCOUNT"
          >
            Account-related Inquiries
          </button>
          <button
            id="three"
            onclick="chooseButton('three')"
            data-i18n="CHOOSE_BUTTON_EDUCATION"
          >
            Education and Courses
          </button>
          <button
            id="four"
            onclick="chooseButton('four')"
            data-i18n="CHOOSE_BUTTON_OTHER"
          >
            Other
          </button>
        </div>
      </div>
    </div>
    <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
    <script src="/js/chatbot.js"></script>
    <script src="/js/lang.js"></script>
    <script src="/js/courses.js"></script>
  </body>
</html>
