<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="website icon" type="png" href="" />
    <!-- Font Awesome -->
    <link rel="stylesheet" href="/css/all.min.css" />
    <link rel="stylesheet" href="/css/framework.css" />
    <link rel="stylesheet" href="/css/master.css" />
    <link rel="stylesheet" href="/css/profile.css" />
    <!-- Google Fonts -->
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;500;600;700;800&display=swap"
      rel="stylesheet"
    />
    <style>
      .form-control {
        padding: 0px;
        margin: 0;
        grid-template-columns: 38% auto 15%;
        grid-template-rows: 1fr auto;
        width: 90%;
        height: 100%;
        justify-items: center;
        align-items: baseline;
      }
      .form-control2 {
        margin-bottom: 0px;
        padding-bottom: 0px;
        display: flex;
        flex-wrap: wrap;
        align-items: baseline;
      }
      .form-control input {
        padding: 5px 0px;
        margin: 0;
        width: 100%;
        height: 40%;
        color: #e71d36;
        border-radius: 5px;
      }
      .form-control small {
        font-size: 12px;
        position: relative;
        grid-column: 2;
      }
      .form-control2 small {
        position: relative;
      }
    </style>
    <title>Profile</title>
  </head>

  <body>
    <!-- if User Enter Wrong Password -->
    <% if (typeof PassMsg !== 'undefined') { %>
    <div class="alert-bar"><%= PassMsg %></div>
    <% } %>
    <!-- Start header -->
    <%- include('./components/header.ejs', { avatarUrl: user.avatarUrl,
    currentPage: null }) %>
    <!-- End Header -->

    <!-- Start profile -->
    <section>
      <div class="profile-section">
        <div class="password-change-section">
          <div class="back-arrow-and-h2">
            <i class="fa-sharp fa-solid fa-chevron-left fa-beat fa-lg"></i>
            <h2>Change Your Password</h2>
          </div>
          <div class="change-form">
            <form
              action="/Update_Password"
              method="post"
              enctype="multipart/form-data"
              id="change-form"
              class="change-password"
            >
              <input
                type="hidden"
                name="email"
                id="emailHide"
                value="<%= user.email %>"
              />
              <div class="current-password-section form-control2">
                <label for="current-password"
                  >Enter your current password</label
                >
                <input
                  type="password"
                  name="CurrentPassword"
                  id="current-password"
                  autocomplete="off"
                />
                <small>Error message</small>
              </div>
              <div class="new-password-section">
                <label for="new-password">New Password</label>
                <div class="new-password-input form-control2">
                  <input
                    type="password"
                    id="new-password"
                    name="NewPassword"
                    autocomplete="off"
                  />
                  <i
                    class="fa-solid fa-lock"
                    id="show-password"
                    onclick="togglePasswordVisibility('new-password')"
                  ></i>
                  <small>Error message</small>
                </div>
              </div>
              <div class="confirm-password-section">
                <label for="confirm-password">Confirm New Password</label>
                <div class="confirm-password-input form-control2">
                  <input
                    type="password"
                    id="confirm-password"
                    autocomplete="off"
                  />
                  <i
                    class="fa-solid fa-lock"
                    id="show-confirm-password"
                    onclick="togglePasswordVisibility('confirm-password')"
                  ></i>
                  <small>Error message</small>
                </div>
              </div>
              <p>*You will be signed out when you save.</p>
              <button type="submit" id="saveNewPassword">Save</button>
            </form>
          </div>
        </div>
        <div class="profile-container">
          <form
            action="/Upload_Avatar"
            method="post"
            enctype="multipart/form-data"
            id="avatar-form"
          >
            <div class="avatar">
              <input type="file" id="avatar" name="avatar" accept="image/*" />
              <div class="avatar-img">
                <img src="<%= user.avatarUrl %>" alt="avatar" id="avatar-img" />
                <div class="circle-animation"></div>
              </div>
              <div
                class="camera"
                onclick="document.getElementById('avatar').click()"
              >
                <img src="/images/camera-icon.png" alt="camera" />
              </div>
            </div>
          </form>
          <div class="nav-section">
            <ul>
              <li class="active">Account Information</li>
              <li class="">Personal Information</li>
            </ul>
          </div>
          <div class="information">
            <form
              class="profile-form"
              action="/Update_User"
              method="post"
              enctype="multipart/form-data"
              id="profile-form"
            >
              <div class="email-section">
                <label for="email">Email</label>
                <input
                  type="email"
                  id="email"
                  name="email"
                  class="email-input"
                  autocomplete="off"
                  value="<%= user.email %>"
                  readonly
                />
              </div>
              <div class="password-section">
                <label for="password">Password</label>
                <input
                  type="password"
                  id="password"
                  class="password-input"
                  autocomplete="off"
                  value="*********"
                  readonly
                />
                <i
                  class="fa-sharp fa-solid fa-chevron-right fa-beat fa-lg"
                  title="Change Password"
                ></i>
              </div>
              <div class="name-section form-control">
                <label for="name">Name</label>
                <input
                  type="text"
                  id="name"
                  name="username"
                  value="<%= user.username %>"
                  class="name-input"
                  autocomplete="on"
                />
                <small>Error message</small>
              </div>
              <div class="gender-section">
                <label for="gender">Gender</label>
                <select
                  name="gender"
                  id="gender"
                  class="gender-input"
                  autocomplete="off"
                >
                  <% if (user.gender==='male') { %>
                  <option selected value="male">Male</option>
                  <option value="female">Female</option>
                  <% } else { %>
                  <option value="male">Male</option>
                  <option selected value="female">Female</option>
                  <% } %>
                </select>
              </div>
              <div class="save-section">
                <button type="submit" id="saveButton">Save</button>
              </div>
            </form>
          </div>
        </div>
      </div>
    </section>
    <!-- End profile -->
    <script src="/js/profile.js"></script>
    <script src="/js/lang.js"></script>
  </body>
</html>
